body {
  background-color: black;
}

#imagen {
  z-index: -1;
}

#containerPrincipal {
  opacity: 0.85;
}

#tituloFormulario {
  color: #42b883;
}

#btn-calcular {
  background-color: #42b883;
  color: black;
}
#modal {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#textoResultado {
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s; /* Duración de la transición */
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1s;
}
